<div class="relative rounded-xl bg-white shadow-xl px-6 py-8 calcHeight">
  <div class="flex justify-between mb-4">
    <span class="font-bold text-lg">Anggota Jemaat</span>
    <div class="flex">
      <div class="relative">
        <input
          type="text"
          #searchInput
          class="h-8 mr-1 pr-8 pl-2 w-36 rounded-lg border border-cm-green-600 focus:outline focus:outline-cm-green-400 text-sm text-cm-blue-800 placeholder:text-sda-neutral-500"
          placeholder="Search name..."
          (keydown.enter)="onClickFilter(searchInput.value)"
        />
        <i-feather
          (click)="onClickFilter(searchInput.value)"
          name="search"
          class="absolute cursor-pointer hover:bg-cm-green-600 top-1 right-2 rounded-md text-white bg-cm-green-500 p-1"
          style="height: 24px; width: 24px"
        ></i-feather>
      </div>
      <app-button
        (click)="idOnEdit = undefined; isAddMode = !isAddMode"
        color="tertiary"
        ><i-feather
          name="plus"
          style="height: 14px; width: 14px"
          class="mt-1 mr-1"
          [ngClass]="
            isAddMode === true
              ? 'duration-300 rotate-45'
              : 'duration-300 rotate-0'
          "
        ></i-feather>
        <span *ngIf="!isAddMode">Jemaat</span>
        <span *ngIf="isAddMode">Batal</span>
      </app-button>
    </div>
  </div>

  <!-- TABLE -->
  <div class="relative flex flex-col h-[90%]">
    <!-- TABLE HEAD -->
    <div
      class="grid grid-cols-12 h-9 rounded-t-lg text-xs font-semibold text-white bg-cm-blue-500"
    >
      <div class="col-start-1 col-end-4 flex items-center mx-1">
        <span class="ml-2">Nama Lengkap</span>
      </div>
      <div class="col-start-4 col-end-5 flex items-center mx-1">
        <span class="">Usia</span>
      </div>
      <div class="col-start-5 col-end-7 flex items-center mx-1 ml-3 mr-2">
        <span class="">Tanggal Lahir</span>
      </div>
      <div class="col-start-7 col-end-10 flex items-center mx-1 ml-[-4px]">
        <span class="">Alamat</span>
      </div>
      <div class="col-start-10 col-end-12 flex items-center mx-1 ml-5">
        <span class="">Phone</span>
      </div>
      <div
        class="col-start-12 col-end-13 flex items-center justify-center mx-1"
      >
        <span class="">Action</span>
      </div>
    </div>

    <!-- TABLE BODY -->
    <div
      [@slideInDown]="!isAddMode"
      *ngIf="congregationList | async as congreData"
      class="h-[82%] overflow-auto modifscrollbar"
      [ngClass]="isAddMode ? 'border-0' : ''"
    >
      <form
        *ngIf="!isAddMode"
        [formGroup]="formEditCongregation"
        (ngSubmit)="onSubmitEdittedData()"
      >
        <div
          *ngFor="
            let congregation of congreData.data;
            let i = index;
            let l = last
          "
          class="grid grid-cols-12 text-sm text-neutral-700 py-1 border border-x-cm-blue-500"
          [ngClass]="
            l && i % 2 !== 0
              ? 'bg-cm-blue-500 bg-opacity-10 border border-b-cm-bue-500 border-b-cm-blue-500'
              : l
              ? 'border border-t-0 border-b-cm-blue-500'
              : i % 2 === 0
              ? ''
              : 'bg-cm-blue-500 bg-opacity-10 border-t-0 border-b-0'
          "
        >
          <div class="col-start-1 col-end-4 flex items-center mx-1">
            <span *ngIf="idOnEdit !== congregation.id" class="ml-2 py-1">{{
              congregation.name
            }}</span>
            <input
              *ngIf="idOnEdit === congregation.id"
              formControlName="name"
              type="text"
              class="h-[35px] border-neutral-400 placeholder:text-neutral-500 px-2 focus:outline-cm-blue-200 text-sm w-full rounded-xl border border-sda-neutral-400 placeholder:text-sm"
              placeholder="Nama"
            />
          </div>
          <div class="col-start-4 col-end-5 flex items-center mx-1 text-xs">
            <span *ngIf="idOnEdit !== congregation.id" class="py-1"
              >{{ ageCalculate(congregation.birthDate) }} Tahun</span
            >
          </div>
          <div
            class="col-start-5 col-end-7 flex items-center mx-1 ml-3 mr-2 text-xs font-nunito font-semibold"
          >
            <span *ngIf="idOnEdit !== congregation.id" class="py-1">{{
              congregation.birthDate | date : "longDate"
            }}</span>
            <input
              *ngIf="idOnEdit === congregation.id"
              formControlName="birthDate"
              type="date"
              class="h-[35px] w-[185px] border-neutral-400 placeholder:text-neutral-500 ml-[-75px] px-3 focus:outline-cm-blue-200 text-sm rounded-xl border border-sda-neutral-400 placeholder:text-sm"
              placeholder="Nama"
            />
          </div>
          <div class="col-start-7 col-end-10 flex items-center mx-1 ml-[-4px]">
            <span *ngIf="idOnEdit !== congregation.id" class="py-1 text-xs">{{
              congregation.address
            }}</span>
            <input
              *ngIf="idOnEdit === congregation.id"
              formControlName="address"
              type="text"
              class="h-[35px] border-neutral-400 placeholder:text-neutral-500 px-2 focus:outline-cm-blue-200 text-sm w-full rounded-xl border border-sda-neutral-400 placeholder:text-sm"
              placeholder="Jl Damai No.1"
            />
          </div>
          <div
            class="col-start-10 col-end-12 flex items-center mx-1 ml-5 font-nunito font-semibold text-sm"
          >
            <span *ngIf="idOnEdit !== congregation.id" class="py-1">{{
              congregation.phoneNumber
            }}</span>
            <input
              *ngIf="idOnEdit === congregation.id"
              formControlName="phoneNumber"
              type="text"
              class="h-[35px] border-neutral-400 placeholder:text-neutral-500 px-2 focus:outline-cm-blue-200 text-sm w-full rounded-xl border border-sda-neutral-400 placeholder:text-sm"
              placeholder="08123..."
            />
          </div>
          <div
            class="col-start-12 col-end-13 flex items-center justify-evenly mx-1 py-0.5"
          >
            <i-feather
              *ngIf="idOnEdit !== congregation.id"
              (click)="onClickEditById(congregation)"
              name="edit2"
              style="height: 16px; width: 16px"
              class="text-neutral-600 hover:text-cm-blue-400 hover:scale-110 duration-100 cursor-pointer"
            ></i-feather>
            <i-feather
              *ngIf="idOnEdit === congregation.id"
              (click)="idOnEdit = undefined"
              name="x"
              style="height: 16px; width: 16px"
              class="text-neutral-600 hover:text-yellow-500 rotate-180 hover:scale-110 duration-100 cursor-pointer"
            ></i-feather>
            <button type="submit" *ngIf="idOnEdit === congregation.id">
              <i-feather
                name="check"
                style="height: 18px; width: 18px"
                class="text-neutral-600 hover:text-green-500 hover:scale-110 duration-100 cursor-pointer"
              ></i-feather>
            </button>
            <i-feather
              *ngIf="idOnEdit !== congregation.id"
              (click)="onClickDelete(congregation.id)"
              name="trash2"
              style="height: 16px; width: 16px"
              class="text-neutral-600 hover:text-red-500 hover:scale-110 duration-100 cursor-pointer"
            ></i-feather>
          </div>
        </div>
      </form>
    </div>

    <!-- INPUT -->
    <div [@slideInDown]="isAddMode" class="absolute top-9 right-0 left-0">
      <form
        *ngIf="!idOnEdit && isAddMode"
        [formGroup]="formCongregation"
        (ngSubmit)="onSubmitPost()"
        class="grid grid-cols-12 text-sm text-neutral-800 border-b-2 border-x-2 py-1"
      >
        <div class="col-start-1 col-end-4 flex items-center mx-1 py-0.5">
          <input
            formControlName="name"
            type="text"
            class="h-[35px] border-neutral-400 placeholder:text-neutral-500 px-2 focus:outline-cm-blue-200 text-sm w-full rounded-xl border border-sda-neutral-400 placeholder:text-sm"
            placeholder="Nama"
          />
        </div>
        <div class="col-start-4 col-end-7 flex items-center mx-1 py-0.5 mr-5">
          <input
            formControlName="birthDate"
            type="date"
            class="h-[35px] border-neutral-400 placeholder:text-neutral-500 px-2 focus:outline-cm-blue-200 text-sm w-full rounded-xl border border-sda-neutral-400 placeholder:text-sm"
            placeholder="Tanggal Lahir"
          />
        </div>
        <div
          class="col-start-7 col-end-10 flex items-center mx-1 py-0.5 ml-[-4px]"
        >
          <input
            formControlName="address"
            type="text"
            class="h-[35px] border-neutral-400 placeholder:text-neutral-500 px-2 focus:outline-cm-blue-200 text-sm w-full rounded-xl border border-sda-neutral-400 placeholder:text-sm"
            placeholder="Jl. Kebenaran No.1"
          />
        </div>
        <div class="col-start-10 col-end-12 flex items-center mx-1 py-0.5 ml-5">
          <input
            formControlName="phoneNumber"
            type="text"
            class="h-[35px] border-neutral-400 placeholder:text-neutral-500 px-2 focus:outline-cm-blue-200 text-sm w-full rounded-xl border border-sda-neutral-400 placeholder:text-sm"
            placeholder="0812345..."
          />
        </div>
        <div
          class="col-start-12 col-end-13 flex items-center justify-evenly mx-1 py-0.5"
        >
          <i-feather
            (click)="isAddMode = false"
            name="x"
            style="height: 16px; width: 16px"
            class="text-neutral-600 hover:text-yellow-500 rotate-180 hover:scale-110 duration-100 cursor-pointer"
          ></i-feather>
          <button type="submit">
            <i-feather
              name="plus"
              style="height: 16px; width: 16px"
              class="text-neutral-600 hover:text-cm-green-500 hover:scale-125 duration-200 cursor-pointer"
            ></i-feather>
          </button>
        </div>
      </form>
    </div>
  </div>

  <!-- PAGINATION -->
  <div *ngIf="!isAddMode" class="absolute bottom-4 right-6">
    <div
      *ngIf="congregationList | async as pagination"
      class="flex absolute right-1 bottom-1 text-sm pr-2 my-2"
    >
      <app-button
        color="secondary"
        size="small"
        class="mr-0.5"
        [disableTerm]="!pagination.hasPrev"
        (onButtonClick)="onClickChangePage(pagination.currentPage - 1)"
      >
        <
      </app-button>
      <div
        #paginationScroll
        [ngClass]="
          pagination.lastPage < 2
            ? 'w[25px]'
            : pagination.lastPage === 2
            ? 'w-[57px]'
            : 'w-[76px] overflow-scroll hidescrollbar overflow-y-hidden'
        "
        class="flex"
      >
        <div *ngFor="let page of totalPage; let i = index; let l = last">
          <app-button
            color="secondary"
            [ngClass]="
              pagination.currentPage === i + 1
                ? 'bg-cm-blue-500 rounded-md text-white'
                : ''
            "
            size="small"
            class="flex mx-0.5"
            (onButtonClick)="onClickChangePage(i + 1)"
            ><span
              [ngClass]="pagination.currentPage === i + 1 ? 'text-white' : ''"
              >{{ i + 1 }}</span
            ></app-button
          >
        </div>
      </div>
      <app-button
        color="secondary"
        size="small"
        class="ml-0.5"
        [disableTerm]="!pagination.hasNext"
        (onButtonClick)="onClickChangePage(pagination.currentPage + 1)"
        >></app-button
      >
    </div>
  </div>
  <!-- END OF PAGINATION -->
</div>
