<nav aria-label="breadcrumb" class="mt-4 mb-6">
  <ol class="breadcrumb">
    <li
      class="breadcrumb-item flex items-end"
      *ngFor="let breadcrumb of breadcrumbs; let last = last; let first = first"
    >
      <span
        *ngIf="first"
        style="font-size: 24px; line-height: 30px"
        class="text-cm-blue-700 whitespace-nowrap block font-semibold"
        >HKBP Gdańsk Distrik 99 Poland</span
      >
    </li>
    <li class="flex mt-1">
      <div
        class="flex"
        *ngFor="
          let breadcrumb of breadcrumbs;
          let last = last;
          let first = first
        "
      >
        <a *ngIf="!last" [routerLink]="breadcrumb.url">{{
          breadcrumb.label
        }}</a>
        <span *ngIf="last" class="">{{ breadcrumb.label }}</span>
        <svg
          *ngIf="!last"
          class="w-6 h-6 text-sda-pri-500"
          fill="currentColor"
          viewBox="0 0 20 20"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            fill-rule="evenodd"
            d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z"
            clip-rule="evenodd"
          ></path>
        </svg>
      </div>
    </li>
  </ol>
</nav>
