<div class=" rounded-xl bg-white shadow-xl px-6 py-8 calcHeight">

    <span class="font-bold mb-10">Anggota Majelis</span>
    
      <!-- TABLE -->
      <div class="mt-6">
        <!-- TABLE HEAD -->
        <div class="grid grid-cols-12 h-9 rounded-t-xl font-semibold text-neutral-600 bg-[#F1F5FB]">
          <div class="col-start-1 col-end-3 flex items-center mx-1">
            <span class="ml-2">Nama Lengkap</span>
          </div>
          <div class="col-start-3 col-end-4 flex items-center mx-1 ml-3">
            <span class="">Usia</span>
          </div>
          <div class="col-start-4 col-end-6 flex items-center mx-1 ml-2">
            <span class="">Tanggal Lahir</span>
          </div>
          <div class="col-start-6 col-end-7 flex items-center">
            <span class="">Fungsi</span>
          </div>
          <div class="col-start-7 col-end-9 flex items-center mx-1">
            <span class="">Alamat</span>
          </div>
          <div class="col-start-9 col-end-11 flex items-center mx-1 ml-5">
            <span class="">Phone</span>
          </div>
          <div class="col-start-11 col-end-12 flex items-center mx-1">
            <span class="">Status</span>
          </div>
          <div class="col-start-12 col-end-13 flex items-center mx-1 mr-4 justify-end">
            <span class="">Action</span>
          </div>
        </div>
    
        <!-- TABLE BODY -->
        <div *ngFor="let board of boardList" class="grid grid-cols-12 rounded-t-xl text-xs text-neutral-800 border-b-2 py-1">
            <div class="col-start-1 col-end-3 flex items-center mx-1 text-sm">
                <span class="ml-2">{{board.name}}</span>
              </div>
              <div class="col-start-3 col-end-4 flex items-center mx-1 ml-3">
                <span class="">{{board.age}} Tahun</span>
              </div>
              <div class="col-start-4 col-end-6 flex items-center mx-1 ml-2">
                <span class="">{{board.birthDate}}</span>
              </div>
              <div class="col-start-6 col-end-7 flex items-center">
                <span class="font-semibold">{{board.fungsi}}</span>
              </div>
              <div class="col-start-7 col-end-9 flex items-center mx-1">
                <span class="">{{board.address}}</span>
              </div>
              <div class="col-start-9 col-end-11 flex items-center mx-1 ml-5">
                <span class="">{{board.phoneNumber}}</span>
              </div>
              <div class="col-start-11 col-end-12 flex items-center mx-1">
                <span class="">{{board.status}}</span>
              </div>
              <div class="col-start-12 col-end-13 flex items-center mx-1 justify-evenly">
                <i-feather name="edit2" style="height: 16px; width: 16px;"></i-feather>
                <i-feather name="x" style="height: 16px; width: 16px;"></i-feather>
              </div>
        </div>
    
      </div>
    
    </div>
    