.nav-menu-btn-active {
  /* background-color: #021f6f; */
  border-radius: 10px;
  color: white;
  animation: backgroundIn 0.4s forwards;
}

.nav-menu-btn-active > span {
  animation: translateXText 0.4s forwards;
}

.nav-menu-btn-active > i-feather {
  animation: translateIcon 0.4s forwards;
}

/* .sidebar:not(.nav-menu-btn-active) {
  animation: backgroundOut 0.2s forwards;
} */

.nav-menu-btn-active-havechild {
  background-color: white;
  border-radius: 12px;
  color: black;
  outline: 2px solid #021f6f;
}

@keyframes backgroundIn {
  from {
    background-color: transparent;
  }
  to {
    background-color: #021f6f;
  }
}

@keyframes translateXText {
  from {
    background-color: transparent;
  }
  to {
    transform: translateX(12px);
  }
}

@keyframes translateIcon {
  from {
    background-color: transparent;
  }
  to {
    transform: translateX(4px);
    scale: 1.15;
  }
}

@keyframes backgroundOut {
  from {
    /* background-color: #021f6f; */
  }
  to {
    /* background-color: transparent; */
  }
}
