<div class="pt-8 px-6 h-full w-[282px] mr-4 bg-white rounded-xl shadow-xl">
  <!-- LOGO -->
  <div class="flex justify-center items-center mb-6">
    <img src="../../../assets/img/logo_hkbp.png" alt="" class="h-[60px]" />
    <div class="flex flex-col">
      <span class="font-semibold">HKBP</span>
      <span class="text-xs">Church Management</span>
      <span class="text-xs">System</span>
    </div>
  </div>

  <!-- MENU -->
  <div class="h-[77%] overflow-auto px-1">
    <div *ngFor="let menu of menu">
      <div
        class="flex items-center hover:bg-cm-blue-50 py-2.5 pl-4 my-0.5 cursor-pointer rounded-xl text-neutral-500"
        [routerLinkActive]="
          menu.childrenComponents
            ? 'nav-menu-btn-active-havechild'
            : 'nav-menu-btn-active'
        "
        [routerLink]="menu.path"
        (click)="navMenuClicked(menu.name)"
      >
        <i-feather
          [name]="menu.icon"
          class="mr-2"
          style="height: 16px; width: 16px"
        ></i-feather>
        <span>{{ menu.name }}</span>
      </div>

      <!-- IF MENU HAS CHILDREN -->
      <div *ngIf="menu.childrenComponents && activeMenu === menu.name">
        <div
          *ngFor="let childMenu of menu.childrenComponents"
          [routerLink]="childMenu.path"
        >
          <span>{{ childMenu.name }}</span>
        </div>
      </div>
    </div>
  </div>
</div>
