<div class="calcHeight flex flex-col">
  <!-- BARIS 1 -->
  <div class="flex justify-between h-[25%]">
    <!-- JUMLAH JEMAAT -->
    <div
      class="border h-full w-[24%] bg-white shadow-lg rounded-xl p-4 pr-6 flex flex-col justify-between"
    >
      <div class="flex justify-between items-center">
        <span class="text-lg font-semibold">Jumlah Jemaat</span>
        <span class="text-xs font-light">2024</span>
      </div>
      <div class="flex items-end justify-between">
        <span class="text-lg font-nunito font-extrabold">{{
          congreTotal
        }}</span>
        <span class="text-4xl">👥</span>
      </div>
    </div>

    <!-- UANG MASUK -->
    <div
      class="border h-full w-[24%] bg-white shadow-lg rounded-xl p-4 flex flex-col justify-between"
    >
      <div class="flex justify-between items-center">
        <span class="text-lg font-semibold">Uang Masuk</span>
        <span class="text-xs font-light">Jan 2024</span>
      </div>
      <div class="flex items-end justify-between">
        <span
          *ngIf="incomeNominal$ | async as incomeNom"
          class="text-lg font-nunito font-extrabold text-cm-green-700"
          >{{ incomeNom | currencyFormat }}</span
        >
        <span class="text-4xl">💵</span>
      </div>
    </div>

    <!-- UANG KELUAR -->
    <div
      class="border h-full w-[24%] bg-white shadow-lg rounded-xl p-4 flex flex-col justify-between"
    >
      <div class="flex justify-between items-center">
        <span class="text-lg font-semibold">Uang Keluar</span>
        <span class="text-xs font-light">Jan 2024</span>
      </div>
      <div class="flex items-end justify-between">
        <span
          *ngIf="outcomeNominal$ | async as outcomeNom"
          class="text-lg font-nunito font-extrabold text-red-800"
          >{{ outcomeNom | currencyFormat }}</span
        >
        <span class="text-4xl">💸</span>
      </div>
    </div>

    <!-- SALDO -->
    <div
      class="border h-full w-[24%] bg-white shadow-lg rounded-xl p-4 flex flex-col justify-between"
    >
      <div class="flex justify-between items-center">
        <span class="text-lg font-semibold">Saldo</span>
        <span class="text-xs font-light">Jan 2024</span>
      </div>
      <div
        *ngIf="outcomeNominal$ | async as outcNom"
        class="flex items-end justify-between"
      >
        <span
          *ngIf="incomeNominal$ | async as incNom"
          class="text-lg font-nunito font-extrabold"
          >{{ incNom - outcNom | currencyFormat }}</span
        >
        <span class="text-4xl">💎</span>
      </div>
    </div>
  </div>

  <!-- BARIS 2 -->
  <div class="w-full h-[75%] flex flex-grow mt-3 justify-between">
    <!-- BERITA & ANGGOTA MAJELIS -->
    <div class="w-[65%] flex flex-col justify-between">
      <!-- SECTION BERITA -->
      <div
        class="flex w-full border h-[49%] bg-white shadow-lg rounded-xl p-4 pr-6 flex-col"
      >
        <!-- JUDUL SECTION BERITA DAN VIEW MORE -->
        <div class="flex flex-row justify-between mb-3">
          <span class="font-nunito font-extrabold">Berita</span>
          <span
            [routerLink]="'../news'"
            (click)="sendNavMenuStr('Berita')"
            class="font-nunito text-xs flex items-center text-neutral-500 hover:text-cm-blue-500 hover:scale-105 duration-100 cursor-pointer"
            >more news
            <i-feather
              name="chevron-right"
              style="height: 16px; width: 16px"
              class="ml-1 mt-0.5"
            ></i-feather
          ></span>
        </div>
        <!-- ISI BERITA -->
        <div
          *ngIf="newsList$ | async as newsData"
          class="h-full overflow-auto modifscrollbar"
        >
          <div
            *ngFor="let news of newsData; let i = index"
            class="bg-cm-blue-500 pl-4 pr-2 py-2 flex justify-between text-neutral-800 items-center"
            [ngClass]="i % 2 === 0 ? 'bg-opacity-10' : 'bg-opacity-5'"
          >
            <div class="text-sm">
              <span class="mr-3">{{ news.title }}</span>
              <span class="text-xs font-nunito font-bold text-neutral-600"
                >({{ news.publishedDate | date : "shortDate" }})</span
              >
            </div>
            <span
              [routerLink]="'../news/' + news.id"
              (click)="sendNavMenuStr('Berita')"
              class="text-xs text-neutral-500 flex cursor-pointer hover:text-cm-blue-500"
              >selengkapnya
              <i-feather
                name="chevron-right"
                style="height: 16px; width: 16px"
              ></i-feather
            ></span>
          </div>
        </div>
      </div>

      <!-- SECTION BARIS 3 - ANGGOTA MAJELIS -->
      <div
        class="flex w-full border h-[49%] bg-white shadow-lg rounded-xl p-4 pr-6 flex-col justify-between"
      >
        <!-- JUDUL SECTION MAJELIS DAN VIEW MORE -->
        <div class="flex flex-row justify-between mb-3">
          <span class="font-nunito font-extrabold">Anggota Majelis</span>
          <span
            (click)="sendNavMenuStr('Anggota Majelis')"
            [routerLink]="'../board'"
            class="font-nunito text-xs flex items-center text-neutral-500 hover:text-cm-blue-500 hover:scale-105 duration-100 cursor-pointer"
            >more
            <i-feather
              name="chevron-right"
              style="height: 16px; width: 16px"
              class="ml-1 mt-0.5"
            ></i-feather
          ></span>
        </div>
        <!-- ISI MAJELIS/BOARD -->
        <div
          *ngIf="boardList$ | async as boardData"
          class="h-full overflow-auto modifscrollbar"
        >
          <div
            *ngFor="let board of boardData; let i = index"
            class="bg-cm-blue-500 pl-4 pr-2 py-2 text-neutral-800 items-center grid grid-cols-12"
            [ngClass]="i % 2 === 0 ? 'bg-opacity-10' : 'bg-opacity-5'"
          >
            <span
              class="text-xs mx-1 col-start-1 col-end-5 flex font-semibold text-neutral-700"
              >{{ board.name }}</span
            >
            <span
              class="text-xs mx-1 col-start-5 col-end-8 text-neutral-600 flex"
              >{{ beautiParseSvc.ageCalculate(board.birthDate) + " tahun" }}
            </span>
            <span
              class="text-xs mx-1 col-start-8 col-end-11 flex font-nunito font-semibold"
              >{{ beautiParseSvc.beautifyFungsi(board.fungsi) }}</span
            >
            <span class="text-xs mx-1 col-start-11 col-end-13 flex">{{
              beautiParseSvc.beautifyStatus(board.status)
            }}</span>
          </div>
        </div>
      </div>
    </div>

    <!-- JADWAL -->
    <div class="bg-white shadow-lg rounded-xl p-4 pr-6 w-[34%]">
      <span class="font-nunito font-extrabold absolute">Jadwal</span>
      <div *ngIf="aktifitasDashboard$ | async as activity" class="flex flex-col h-full border border-blue-500 pt-8 overflow-auto hidescrollbar">
        <div *ngFor="let data of activity" class="border border-red-500 mb-2">
          <div class="flex flex-col">
            <div class="flex">
              <span class="mr-1" *ngIf="data.tanggal === today">TODAY - </span>
              <span class="mr-1" *ngIf="data.tanggal !== today">{{ data.tanggal | date: 'EEEE' }} - </span>
              <span>{{ data.tanggal | date:'mediumDate' }}</span>
            </div>
            <div *ngFor="let kegiatan of data.kegiatan">
              <span class="ml-1">{{ kegiatan.activityTitle }}</span>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
